*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background-color: #E0E0E0;
}
.wrapper{
  width: 680px;
  background-color: #E0E0E0;
  border-radius: 25px;
  text-align: center;
  padding: 20px 30px 20px 30px;
  box-shadow: -7px -7px 7px #fff,
              13px 13px 5px rgba(94,104,121,0.288);
}
.wrapper .profile{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #FB4400;
  color: #fff;
  margin: 0 auto;
  border: 2px solid #fff;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}
.wrapper .profile .fas{
  font-size: 32px;
  line-height: 80px;
}
.wrapper h2{
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
}
.wrapper form{
  margin: 20px 0px 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form .field{
  width: 100%;
  margin-bottom: 20px;
}
form .field .input_area{
  position: relative;
}
form input[type="text"],
form input[type="password"]{
  border: 0;
  outline: none;
  height: 50px;
  width: 100%;
  font-size: 18px;
  background-color: #E0E0E0;
  padding: 0px 15px;
  padding-left: 40px;
  border-radius: 20px;
  box-shadow: inset -3px -3px 3px #fff,
  inset 3px 3px 5px rgba(94,104,121,0.288);
}
form input::placeholder{
  color: #bfbfbf;
  font-size: 17px;
}
form .field i{
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field .icon{
  left: 15px;
  color: #34495e;
}
.select_box select{
  border: 0;
  outline: none;
  width: 100%;
  color: #000;
  font-size: 17px;
  padding: 15px 10px;
  padding-left: 35px;
  border-radius: 20px;
  background-color: #E0E0E0;
  box-shadow: inset -3px -3px 3px #fff,
  inset 3px 3px 5px rgba(94,104,121,0.288);
}
.wrapper .radio{
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: -30px;
  font-family: sans-serif;
}
.wrapper .radio .radio_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio_btn label{
  font-size: 18px;
  margin-left: 5px;
  font-weight: 600;
}
.radio input{
  width: 18px;
  height: 18px;
}
.wrapper input[type="submit"]{
  width: 100%;
  padding: 15px 10px;
  border-radius: 20px;
  color: #fff;
  border: none;
  letter-spacing: 1px;
  margin-top: 20px;
  cursor: pointer;
  background: #42b17B;
  font-size: 18px;
  font-weight: bolder;
  transition: background 0.2s ease;
}
.wrapper input[type="submit"]:hover{
  background-color: #2FA57B;
}
.singin_btn{
  color: #34495e;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
}
.singin_btn a{
  font-weight: 200;
  color: rgb(87,87,252);
  margin-left: 5px;
}


